.btn .fa {
  padding-right: 5px;
}

.process-step .btn .fa {
  padding-right: 0px;
}

.btn {
  margin-right: 5px;
}

.btn-group .btn {
  margin-right: 0px;
}

.row.padding-top {
  padding-top: 15px;
}

.no-mrg {
  margin: 0px !important;
}

.wrapper2, .row {
  height: inherit;
}

span.icon-status.icon-warning i {
  color: #FF9800;
}

span.icon-status.icon-success i {
  color: #4CAF50;
}

span.icon-status.icon-error i {
  color: #dc0000;
}

.full-screen .modal-dialog {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.full-screen .modal-content {
  height: 100%;
  border-radius: 0;
}

.full-screen .modal-body {
  height: calc(100vh - 133px);
}


/**
 * Create the slider bar
 */
.checkboxOne {
  width: 26px;
  height: 10px;
  background: #d9d9d9;
  position: relative;
  float: right;
  top: 4px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  margin-right: 8px;
}

.checkboxOne-switch .view-switch {
  float: right;
  padding-right: 9px;
  font-size: 11px;
  line-height: 19px;
  color: #707070;
  font-weight: 700;
}

.checkboxOne input[type=checkbox] {
  visibility: hidden;
}

/**
 * Create the slider from the label
 */
.checkboxOne label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: -4px;
  left: -3px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
  border: 1px solid #bebebe;
  background: rgb(245,246,246); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/**
 * Move the slider in the correct position if the checkbox is clicked
 */
.checkboxOne input[type=checkbox]:checked + label {
  left: 12px;
}

span.capsule-label-text {
  line-height: 9px;
  font-size: 13px;
  position: relative;
  color: #353535;
  top: 2px;
  font-weight: 400;
  padding-left: 4px;
}

span.label.capsule-label {
  display: inline-block;
  position: relative;
  padding: 0px;
  top: 6px;
  margin-right: 10px;
}

.well.sp-marginFix.no-mrg p {
  margin-bottom: 0px;
}

span.valholder {
  padding: 3px 5px;
}

span.valholder.valone {
  padding-left: 9px;
  border-radius: 10px 0px 0px 10px;
  background: #fff;
  color: #03A9F4;
  border: 1px solid #03A9F4;
}

span.valholder.valtwo {
  padding-right: 9px;
  border-radius: 0px 10px 10px 0px;
  background: #03A9F4;
  border: 1px solid #03A9F4;
  margin-left: -3px;
}


ul.nav.nav-pills.nav-justified.sf360-nav-pills {
  text-align: center;
}

ul.nav.nav-pills.nav-justified.sf360-nav-pills li {
  padding: 15px 25px;
  border-right:1px solid #dcdcdc;
  color: #424242;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

ul.nav.nav-pills.nav-justified.sf360-nav-pills li:hover {
  background: linear-gradient(to bottom, #b3b3b3 5%, #ededed 100%);
}

ul.nav.nav-pills.nav-justified.sf360-nav-pills li:last-child {
  border-right:0px solid #dcdcdc;
}

ul.nav.nav-pills.nav-justified.sf360-nav-pills li.active {
  background: linear-gradient(to bottom, #b3b3b3 5%, #ededed 100%);
}

ul.nav.nav-pills.nav-justified.sf360-nav-pills {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  border:1px solid #dcdcdc;
  color:#777777;
}

.tab-icon {
  position: relative;
  top: -2px;
  padding-right: 6px;
}

table.table.sf360-table >thead>tr>th {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}

table.sf360-table >tbody>tr>td {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  background: #efefef;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

a.btn.btn-trans.btn-xs {
  background-color: transparent;
  border: transparent;
  padding: 4px 7px;
  text-align: center;
  color: #615e5e;
  margin: 0px !important;
}

a.btn.btn-trans.btn-xs:hover {
  color: #03A9F4;
}

a.btn.btn-trans.btn-xs:active {
  box-shadow: none;
}


.checkb-box label {
  display: inline-block;
  margin-bottom: 0px;
  line-height: 10px;
  position: relative;
  top: 3px;
}
.checkb-box .checkbox02-input {
  display: none;
}
.checkb-box .checkbox02-parts {
  position: relative;
  display: inline-block;
  border: 2px solid #bbbbbb;
  background-color: transparent;
  border-radius: 4px;
  width: 17px;
  height: 17px;
}
.checkb-box .checkbox02-parts::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 6px;
  left: 2px;
  background: #c3c3c3;
  transition: width .1s;
  transform: rotate(140deg);
}
.checkb-box .checkbox02-parts::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 1px;
  left: 7px;
  background-color: #c3c3c3;
  transition: width .1s .1s;
  transform: rotate(223deg);
}
.checkb-box .checkbox02-input:checked + .checkbox02-parts {
  background-color: #bbbbbb;
}
.checkb-box .checkbox02-input:checked + .checkbox02-parts::before {
  width: 3px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
}

.checkb-box .checkbox02-input:checked + .checkbox02-parts::after {
  width: 3px;
  height: 10px;
  background-color: #fff;
  border-radius: 2px;
}

table thead .checkb-box .checkbox02-input:checked + .checkbox02-parts {
  background-color: #5b7497;
  border-color: #fff;
}

table tbody .checkb-box .checkbox02-input:checked + .checkbox02-parts {
  background-color: #6f8297;
  border-color: #6f8297;
}


table tbody .checkb-box {
  margin-left: 3px;
  position: relative;
  top: 1px;
}

.p-edit_contents {
  display: inline-block;
  width: 18px;
}

span.icon-status i {
  font-size: 17px;
  position: relative;
  top: 4px;
  left: 7px;
  margin-left: 4px;
}


.modal.sf-modal.full-screen .modal-header {
  background: transparent;
  color: #5f5f5f;
  text-align: center;
  border-bottom: 0px;
}

.modal.sf-modal.full-screen .modal-footer {
  background: transparent;
}

/**
	process-row
*/

.process-row {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.process * {
  -webkit-transition: all .5s ease-in-out 1s;
  -o-transition: all .5s ease-in-out 1s;
  -moz-transition: all .5s ease-in-out 1s;
  transition: all .5s ease-in-out 1s;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.process-row:before {
  top: 33px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.process-step {
  flex: 1;
  text-align: center;
  position: relative;
}

.process-step p {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  color: #555;
}

.process-step p span {
  font-size: .9em;
  text-transform: initial;
  color: #f0ad4e;
  display: block;
}
.process-error {
  position: absolute;
  left: 55%;
  cursor: pointer;
}

.process-step .popover {
  font-size: .9em;
  text-transform: initial;
  color: #f0ad4e;
}

.cal-error {
  color :#e74c41;
}

.btn.done i.fa.fa-3x:before {
  content: "\f00c" !important;
}

.btn.btn-default.btn-circle {
  background-color: #F8F3F0;
  border: 1px solid #f0ad4e;
  color : #8A8A8A;

}
.btn.btn-default.done.btn-circle {
  background-color: #5cb85c;
  color: #fff;
  border: 1px solid #3faa44;
}

.btn-circle {
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 6px 0;
  font-size: 7px;
  line-height: 1.428571429;
  border-radius: 45px;
}

ul.nav.nav-pills.nav-justified.big-button-sf li a {
  padding: 30px 20px;
  font-size: 13px;
  font-weight: 400;
  margin: 0px 5px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}

ul.nav.nav-pills.nav-justified.big-button-sf {
  margin-top: 15px;
}

.big-button-sf.nav-pills>li.active>a,
big-button-sf.nav-pills>li.active>a:hover,
big-button-sf.nav-pills>li.active>a:focus,
.big-button-sf.nav-pills>li:hover>a {
  background: rgba(41, 171, 226, 0.3) !important;
  border: 1px solid #29abe2 !important;
  color: #333;
}


ul.nav.nav-pills.nav-justified.big-button-sf li.active:after {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 12px;
  font-size: 24px;
  color: #4CAF50;
}

ul.nav.nav-pills.nav-justified.big-button-sf li.active {
  position: relative;
}


.content-outer {
  display: table;
  height: 100%;
  width: 100%;
}
.content-outer .content-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.selectize-control.form-control-services {
  height: 68px;
}
.selectize-control.form-control-services .selectize-input {
  height: 68px;
}
.selectize-control.form-control-services .selectize-input input[type="select-one"] {
  display: none !important;
}
.selectize-control.form-control-services .selectize-input:after {
  display: none;
}
.selectize-control.form-control-services .selectize-custom-link,
.selectize-control.form-control-services .selectize-custom-option {
  display: block;
  height: 100%;
}
.selectize-control.form-control-services .selectize-custom-link-title, .selectize-control.form-control-services .selectize-custom-link-excerpt,
.selectize-control.form-control-services .selectize-custom-option-title,
.selectize-control.form-control-services .selectize-custom-option-excerpt {
  color: black;
  display: block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.selectize-control.form-control-services .selectize-custom-link-excerpt,
.selectize-control.form-control-services .selectize-custom-option-excerpt {
  font-weight: 400;
}

.selectize-input.items {
  padding: 5px !important;
}

.selectize-custom-link {
  border: 1px solid #88D0E8;
  background: #DAF0F8;
  border-radius: 4px;
}

.selectize-control.form-control-services .selectize-custom-link-title, .selectize-control.form-control-services .selectize-custom-link-excerpt, .selectize-control.form-control-services .selectize-custom-option-title, .selectize-control.form-control-services .selectize-custom-option-excerpt {
  text-align: left;
  font-size: 13px;
  padding: 1px 15px;
  color: #313131;
}

.selectize-dropdown-content .selectize-custom-option {
  padding: 5px 2px;
}

.selectize-dropdown-content {
  padding: 0px;
}

li.selctor-hold {
  border: 1px solid #ccc;
  padding: 4px !important;
  border-radius: 4px;
}

li.selctor-hold .form-group {
  margin: 0px !important;
  padding: 0px !important;
}

.selectize-input {
  height: 59px;
}

.selctor-hold .selectize-control {
  position: absolute;
  width: calc(100% - 8px);
}

.content-outer {
  display: table;
  height: 100%;
  width: 100%;
}
.content-outer .content-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.selectize-control.form-control-services {
  height: 68px;
}
.selectize-control.form-control-services .selectize-input {
  height: 68px;
}
.selectize-control.form-control-services .selectize-input input[type="select-one"] {
  display: none !important;
}
.selectize-control.form-control-services .selectize-input:after {
  display: none;
}
.selectize-control.form-control-services .selectize-custom-link,
.selectize-control.form-control-services .selectize-custom-option {
  display: block;
  height: 100%;
}
.selectize-control.form-control-services .selectize-custom-link-title, .selectize-control.form-control-services .selectize-custom-link-excerpt,
.selectize-control.form-control-services .selectize-custom-option-title,
.selectize-control.form-control-services .selectize-custom-option-excerpt {
  color: black;
  display: block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.selectize-control.form-control-services .selectize-custom-link-excerpt,
.selectize-control.form-control-services .selectize-custom-option-excerpt {
  font-weight: 400;
}

.selectize-input.items {
  padding: 5px !important;
}

.selectize-custom-link {
  border: 1px solid #88D0E8;
  background: #DAF0F8;
  border-radius: 4px;
}

.selectize-control.form-control-services .selectize-custom-link-title, .selectize-control.form-control-services .selectize-custom-link-excerpt, .selectize-control.form-control-services .selectize-custom-option-title, .selectize-control.form-control-services .selectize-custom-option-excerpt {
  text-align: left;
  font-size: 13px;
  padding: 1px 15px;
  color: #313131;
}

.selectize-dropdown-content .selectize-custom-option {
  padding: 5px 2px;
}

.selectize-dropdown-content {
  padding: 0px;
}

.section-heading {
  color: #4a4a4a;
  display: inline-block;
  font-size: 18px;
  top: -7px;
  margin-bottom: 10px;
  position: relative;
}

.box-ce {
  background: #f7f7f7;
  min-height: 140px;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  padding: 10px;
}

li.select2-results__option.select2-results__option--highlighted {
  background: #bee6f6;
}

span.select2-selection__arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #FF9800;
  position: absolute;
  right: 11px;
  top: 50%;
}

/*==================================================
 * shadow Effect
 * ===============================================*/

.effect1{
  -webkit-box-shadow: 0 8px 6px -6px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 0 8px 6px -6px rgba(119, 119, 119, 0.3);
  box-shadow: 0 8px 6px -6px rgba(119, 119, 119, 0.3);
}

.effect6
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}
.effect6:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}


.box-ce {
  display: flex;
  flex-flow: row wrap;
  width: calc(33% - 10px);
  margin: 0px 5px;
}

.box-ce > * {
  flex: 1 100%;
}

dl.box-ce-dl {
  margin-bottom: 10px;
}

dl.box-ce-dl dt {
  width: auto;
  padding-right: 15px;
}

dl.box-ce-dl dd {
  margin-left: 0px;
}

span.acc-icon {
  width: 40px;
  display: inline-block;
  height: 40px;
  padding: 5px;
}

span.acc-icon img {
  width: 100%;
}

.acc-details {
  padding-left: 43px;
}

.feed-con .select-icon {
  width: calc(100% - 44px);
  display: inline-block;
}
